## 1.Create an empty list of numbers. Append 10, 20, and 30 to it. Then change the second element to 25 and print the updated list.
Input:
numbers = []

Output:

[10, 25, 30]

In [19]:
lst=[]
lst.append(10)
lst.append(20)
lst.append(30)
print(lst)
lst[1]=25
print(lst)

[10, 20, 30]
[10, 25, 30]

## 2. Given a list of colors, retrieve and prinhe first and last elements using indexing.
Input:

colors = ['red', 'blue', 'green', 'yellow']

Output:

red

yellow

In [22]:
colors = ['red', 'blue', 'green', 'yellow']
print("first element--",colors[0])
print("last element--",colors[-1])

first element-- red
last element-- yellow

## 3. Slice the list fruits to extract only 'banana' and 'orange'

Input:

fruits = ['apple', 'banana', 'orange', 'grapes', 'mango']

Output:

['banana', 'orange']

In [25]:
fruits = ['apple', 'banana', 'orange', 'grapes', 'mango']
print(fruits[1:3])

['banana', 'orange']

## 4. Reverse the given list using slicing.
Input:

numbers = [1, 2, 3, 4, 5]

Output:

[5, 4, 3, 2, 1]

In [28]:
numbers = [1, 2, 3, 4, 5]
print(numbers[::-1])

[5, 4, 3, 2, 1]

## 5. Count how many times 'apple' appears in the list.
Input:

fruits = ['apple', 'banana', 'apple', 'orange', 'apple']

Output:

3

In [33]:
fruits = ['apple', 'banana', 'apple', 'orange', 'apple']
cnt=0
for i in fruits:
    if i=='apple':
        cnt=cnt+1
print(cnt)

3

## 6. Combine two lists into one.
Input:

list1 = [1, 2, 3]

list2 = [4, 5, 6]

Output:

[1, 2, 3, 4, 5, 6]

In [36]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
#concatenation
print(list1+list2)

[1, 2, 3, 4, 5, 6]

## 7. Insert 'watermelon' at index 2 in the list.
Input:

fruits = ['apple', 'banana', 'orange', 'mango']

Output:

['apple', 'banana', 'watermelon', 'orange', 'mango']

In [47]:
fruits = ['apple', 'banana', 'orange', 'mango']
fruits.insert(2,'watermelon')
print(fruits)

['apple', 'banana', 'watermelon', 'orange', 'mango']

## 8. Remove 'orange' from the updated fruits list

In [50]:
fruits.remove('orange')
print(fruits)

['apple', 'banana', 'watermelon', 'mango']

## 9. Remove the third element from the updated fruits list.

In [103]:
fruits.pop(2)
print(fruits)

['apple', 'banana']

## 10. Access 6000 from the nested list.
Input:

nested_list = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [106]:
nested_list = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
print(nested_list[2][2][1])

6000

## 11. Add 7000 after 6000 inside the nested list.
Input:

nested_list = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

Output:

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [99]:
nested_list = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
nested_list[2][2].append(7000)
print(nested_list)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

## 12. Replace the first occurrence of 20 with 200.
Input:

numbers = [5, 10, 15, 20, 25, 50, 20]

Output:

[5, 10, 15, 200, 25, 50, 20]

b

98

In [92]:
numbers = [5, 10, 15, 20, 25, 50, 20]
for i in range(len(numbers)):
    if numbers[i]==20:
        numbers[i]=200
        break
print(numbers)

[5, 10, 15, 200, 25, 50, 20]