## 1.Print All Even Numbers Between 1 to 20 Using a For Loop
Objective:
Print all even numbers between 1 and 20 using a for loop.

Sample Input:

Start: 1

End: 20

Expected Output:

2 4 6 8 10 12 14 16 18 20

In [28]:
for i in range(1,21):
    if i % 2==0:
        print(i,end=' ')

2 4 6 8 10 12 14 16 18 20

## 2.Print All Odd Numbers Between 1 to 20 Using a For Loop
Objective:

Print all odd numbers between 1 and 20 using a For loop.

Expected Output:

1 3 5 7 9 11 13 15 17 19

In [32]:
for i in range(1,21):
    if i%2 != 0:
        print(i,end=' ')

1 3 5 7 9 11 13 15 17 19

## 3.Check if a Number is Prime Using a For Loop
Objective:

Determine whether a given number is prime or not using a for loop.

Sample Input:

Number: 29

Expected Output:
29 is a Prime Number

In [52]:
num=int(input("Enter a number:"))
if num > 1:
    for i in range(2, num):
        if num%i == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num,"is a prime number")
else:
    print(num,"is not a prime number")

Enter a number: 29

29 is a prime number

## 4.Merge Two Lists into a Dictionary Using a For Loop
Objective:

Combine two lists into a dictionary, where one list contains keys and the other contains values.

Sample Input:

Keys:["name", "age", "city"]

Values: ["Pavan", 25, "Bangalore"]

Expected Output:

{'name': 'Pavan', 'age': 25, 'city': 'Bangalore'}

In [55]:
keys = ["name", "age", "city"]
values = ["Pavan", 25, "Bangalore"]
result = {}

for i in range(len(keys)):
    result[keys[i]] = values[i]

print(result)

{'name': 'Pavan', 'age': 25, 'city': 'Bangalore'}

## 5.Find the Sum of Dictionary Values Using a For Loop

Objective:

Compute the sum of all values in a dictionary using a For loop.

Sample Input:

{‘Teja’: 50000, 'Ved': 75000, 'Pavan': 60000}

Expected Output:

Sum of Dictionary Values: 185000

In [84]:
dct={'Teja': 50000, 'Ved': 75000, 'Pavan': 60000}
sum=0
for i in dct.values():
    sum+=i
print('Sum of Dictionary Values:',sum)

Sum of Dictionary Values: 185000

## 6.Flatten a Nested List Using a For Loop
Objective:

Convert a nested list into a single flattened list using a for loop.

Sample Input:

[[1, 2, 3], [4, 5], [6, 7, 8, 9]]

Expected Output:

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [93]:
lst=[[1, 2, 3], [4, 5], [6, 7, 8, 9]]
flatten_lst=[]

for i in lst:
    #print(i)
    for j in i:
        flatten_lst.append(j)
print(flatten_lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## 7.Print a Left-Angled (Decrementing) Triangle Pattern Using a For Loop
Objective:

Print a left-angled triangle pattern of stars.

Sample Input:

Rows: 5

Expected Output:
#### *
#### **
#### ***
#### ****
#### *****

In [134]:
for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

## 8.Print a Square Pattern Using a Nested For Loop

Objective:

Print a square pattern of stars using a nested for loop.

Sample Input:


Size: 4

Expected Output:
#### ****
#### ****
#### ****
#### ****

In [179]:
for i in range(4):
    print('*'*4)

****
****
****
****

## 9.Print a Multiplication Table Using a Nested For Loop
Objective:

Generate and print a multiplication table from 1 to N using a nested for loop.

In [194]:
n=int(input("Enter a number:"))
for i in range(1,11):
    print(f"{n} x {i} = {n*i}")

Enter a number: 5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

## 10.Print Factorials of Numbers from 1 to N Using a For Loop
Objective:

Print the factorial of each number from 1 to N using a for loop.

In [203]:
n=int(input("Enter a number:"))
for i in range(1,n + 1):
    fact= 1
    for j in range(1,i + 1):
        fact*= j
    print(f" Factorial of {i} is {fact}")

Enter a number: 5

 Factorial of 1 is 1
 Factorial of 2 is 2
 Factorial of 3 is 6
 Factorial of 4 is 24
 Factorial of 5 is 120