# 1. Square Each Element in a List

Objective:

Write a function that takes a list of numbers and returns a new list with each number squared.

    Solve

    Using a normal function

    Using list comprehension


Sample Input:

square_numbers([1, 2, 3, 4, 5])

Expected Output:

[1, 4, 9, 16, 25]

In [166]:
#normal function
def sq(l):
    l1=[]
    for i in l:
        l1.append(i**2)
    return l1
print(sq([1, 2, 3, 4, 5]))

[1, 4, 9, 16, 25]

In [168]:
#map with lambda
l=[1, 2, 3, 4, 5]
l1=list(map(lambda x : x**2,l))
print(l1)

[1, 4, 9, 16, 25]

# 2. Convert a List of Strings to Uppercase.

Objective:

Write a function that takes a list of lowercase strings and returns them in uppercase.

Solve it in two ways:

Using a normal function 

Using list comprehension

Sample Input:

to_uppercase(["apple", "banana", "cherry"])

Expected Output:

["APPLE", "BANANA", "CHERRY"]

In [171]:
#normal functon 
def to_upper(a):
    a1=[]
    for i in a:
        a1.append(i.upper())
    return a1
to_upper(["apple", "banana", "cherry"])

['APPLE', 'BANANA', 'CHERRY']

In [173]:
#map
l1=list(map(lambda x : x.upper(),["apple", "banana", "cherry"]))
print(l1)

['APPLE', 'BANANA', 'CHERRY']

# 3. Find Even Numbers from a List.

Objective:

Write a function that extracts even numbers from a given list.

    Solve it in two ways:

Using a normal function

Using list comprehension

Sample Input:

filter_even_numbers([1, 2, 3, 4, 5, 6])

Expected Output:

[2, 4, 6]

In [176]:
#normal way

def even(n):
    n1=[]
    for i in n:
        if i%2==0:
            n1.append(i)
    return n1
even([1, 2, 3, 4, 5, 6])

[2, 4, 6]

In [178]:
#filter list way
b=list(filter(lambda i : i % 2==0,[1, 2, 3, 4, 5, 6]))
print(b)

[2, 4, 6]

# 4. Find the Length of Each String in a List

Objective:

Write a function that takes a list of strings and returns a list of their lengths.

Solve it in two ways:

Using a normal function

Using the map() function

Sample Input:

string_lengths(["hello", "world", "python"])

Expected Output:

[5, 5, 6]

In [181]:
#normal way

def string_len(c):
    c1=[]
    for i in c:
        l=len(i)
        c1.append(l)
    return c1
string_len(["hello", "world", "python"])

[5, 5, 6]

In [183]:
#map ()

s_len=list(map(len,["hello", "world", "python"]))
print(s_len)

[5, 5, 6]

# 5. Filter Words Longer Than 5 Characters

Objective:

Write a function that takes a list of words and returns only those with more than 5 characters.

    Solve it in two ways:

Using a normal function

Using the filter() function

Sample Input:

long_words(["apple", "banana", "cherry", "fig", "grape"])



Expected Output:

["banana", "cherry"]

In [186]:
# normal way
def long_words(k):
    k1=[]
    for i in k:
        if len(i)>5:
            k1.append(i)
    return k1
long_words(["apple", "banana", "cherry", "fig", "grape"])

['banana', 'cherry']

In [188]:
#filter way
d=list(filter(lambda x : len(x)>5 , ["apple", "banana", "cherry", "fig", "grape"]))
print(d)

['banana', 'cherry']

# 6. Multiply Corresponding Elements of Two Lists

Objective:

Write a function that takes two lists and returns a list containing the product of corresponding elements.

    Solve it in two ways:

    Using a normal function

    Using the map() function

    Sample Input:

    multiply_lists([1, 2, 3], [4, 5, 6])

    Expected Output:

    [4, 10, 18]

In [191]:
#normal way
def multiply_lists(l1,l2):
    l3=[]
    for i in range(len(l1)):
        m=l1[i]*l2[i]
        l3.append(m)
    return l3
multiply_lists([1, 2, 3], [4, 5, 6])

[4, 10, 18]

In [193]:
#map with lambda
l3=list(map(lambda x,y : x*y, [1, 2, 3],[4, 5, 6]))
print(l3)

[4, 10, 18]

# 7. Sort a List of Tuples Based on the Second Element

Objective:

Write a function that takes a list of tuples and sorts them based on the second value in each tuple.

Solve it in two ways:

Using a normal function

Using a lambda function with sorted()

Sample Input:

sort_by_second([(1, 3), (2, 2), (4, 1)])


Expected Output:

[(4, 1), (2, 2), (1, 3)]

In [196]:
#normal way
def sort_by_second(lst):
    return sorted(lst, key=lambda x: x[1])
sort_by_second([(1, 3), (2, 2), (4, 1)])

[(4, 1), (2, 2), (1, 3)]

In [198]:
#sorted() with lambda
lst=[(1, 3), (2, 2), (4, 1)]
sorted_lst = sorted(lst, key=lambda x: x[1])
print(sorted_lst)

[(4, 1), (2, 2), (1, 3)]

# 8. Calculate the Factorial of Numbers in a List

Objective:

Write a function that calculates the factorial of each number in a list.

Solve it in two ways:

Using a normal function

Using the map() function with lambda

Sample Input:

factorial_list([3, 4, 5])

Expected Output:

[6, 24, 120]

In [201]:
#normal way
def fact(n):
    res = 1
    for i in range(1, n + 1):
        res *= i
    return res

def fact_list(lst):
    res1 = []
    for n in lst:
        res1.append(fact(n))
    return res1

print(fact_list([3, 4, 5]))

[6, 24, 120]

In [205]:
#map with lambda
def fact(n):
    res = 1
    for i in range(1, n + 1):
        res *= i
    return res

p1=list(map(lambda n : fact(n),[3, 4, 5]))
print(p1)

[6, 24, 120]

# 9. Find Common Elements Between Two Lists

Objective:

Write a function that finds the common elements between two lists.

    Solve it in two ways:

Using a normal function

Using set comprehension

Sample Input:

common_elements([1, 2, 3, 4], [3, 4, 5, 6])

Expected Output:

m[3, 4]

In [208]:
#normal way
def common(l1,l2):
    l3=[]
    for i in l1:
        if i in l2:
            l3.append(i)
    print(l3)
common([1, 2, 3, 4], [3, 4, 5, 6])

[3, 4]

In [210]:
#filter with lambda
l1=[1, 2, 3, 4]
l2=[3, 4, 5, 6]
common=list(filter(lambda x: x in l2, l1))
print(common)

[3, 4]

# 10. Remove Duplicates from a List

Objective:

Write a function that removes duplicates from a given list and returns a unique list.

    Solve it in two ways:

    Using a normal function

    Using set comprehension

    Sample Input:

    remove_duplicates([1, 2, 2, 3, 4, 4, 5])

    Expected Output:

    [1, 2, 3, 4, 5]

In [225]:
#normal way
def rem_duplicates(num_lst):
    unique_lst=[]
    for i in num_lst:
        if i not in unique_lst:
            unique_lst.append(i)
    return unique_lst
rem_duplicates([1, 2, 2, 3, 4, 4, 5])

[1, 2, 3, 4, 5]

In [227]:
#set comprehension
num_lst = [1, 2, 2, 3, 4, 4, 5]
u_l=list({i for i in num_lst})
print(u_l)

[1, 2, 3, 4, 5]