## 1. Create a tuple numbers containing the values 10, 20, and 30. Print the tuple.
Input:

numbers = (10, 20, 30)

Output:

(10, 20, 30)

In [3]:
numbers = (10, 20, 30)
print(numbers)

(10, 20, 30)

## 2. Retrieve and print the first and last elements from the colors tuple..
Input:

colors = ('red', 'blue', 'green', 'yellow')

Output:

red  

yellow

In [12]:
colors = ('red', 'blue', 'green', 'yellow')
print("first element--",colors[0])
print("last  element--",colors[-1])

first element-- red
last  element-- yellow

## 3. Slice the tuple fruits to extract only 'banana' and 'orange'.
Input:

fruits = ('apple', 'banana', 'orange', 'grapes', 'mango')

Output:

('banana', 'orange')

In [15]:
fruits = ('apple', 'banana', 'orange', 'grapes', 'mango')
print(fruits[1:3])

('banana', 'orange')

## 4. Reverse the given tuple using slicing.
Input:

numbers = (1, 2, 3, 4, 5)

Output:

(5, 4, 3, 2, 1)

In [18]:
numbers = (1, 2, 3, 4, 5)
print(numbers[::-1])

(5, 4, 3, 2, 1)

## 5. Count how many times 'apple' appears in the tuple.
Input:

fruits = ('apple', 'banana', 'apple', 'orange', 'apple')

Output:

3

In [25]:
fruits = ('apple', 'banana', 'apple', 'orange', 'apple')
#using count method
fruits.count('apple')

3

## 6. Combine two tuples into one.
Input:

Tuple 1 = (1, 2, 3)

Tuple 2 = (4, 5, 6)

Output:

(1, 2, 3, 4, 5, 6)

In [29]:
Tuple1 = (1, 2, 3)
Tuple2 = (4, 5, 6)
print(Tuple1+Tuple2)

(1, 2, 3, 4, 5, 6)

## 7. Find the index of 'orange' in the tuple.
Input:

fruits = ('apple', 'banana', 'orange', 'mango')

Output:

2

In [32]:
fruits = ('apple', 'banana', 'orange', 'mango')
print(fruits.index('orange'))

2

## 8. Check if 'grapes' exists in the tuple. Print True or False.

Input:-

fruits = ('apple', 'banana', 'orange', 'mango')

output:-False

In [75]:
fruits = ('apple', 'banana', 'orange', 'mango')
for i in fruits:
    if i == 'grapes':
        print("True")
        break
else:
    print("False")

False

## 9. Convert the tuple into a list, update the third element to 'kiwi', then convert it back to a tuple.

Input:

fruits = ('apple', 'banana', 'orange', 'mango')

Output:- ('apple', 'banana', 'kiwi', 'mango')

In [50]:
fruits = ('apple', 'banana', 'orange', 'mango')
lst=list(fruits)
print(lst)
lst[2]='Kiwi'
#print(lst)
new_fruits=tuple(lst)
print(new_fruits)

['apple', 'banana', 'orange', 'mango']
('apple', 'banana', 'Kiwi', 'mango')

## 10. Access 6000 from the nested tuple.
Input:- (10, 20, (300, 400, (5000, 6000), 500), 30, 40)

In [55]:
Input=(10, 20, (300, 400, (5000, 6000), 500), 30, 40)
print(Input[2][2][1])

6000

## 11.Count how many times 20 appears in the tuple.

Input: (5, 10, 15, 20, 25, 50, 20)

Output: 2

In [59]:
Input=(5, 10, 15, 20, 25, 50, 20)
print(Input.count(20))

2

## 12. Find the maximum and minimum values in a tuple.
Input: (10, 20, 4, 45, 99, 98)
Output:
Max: 99  
Min: 4

In [73]:
Input=(10, 20, 4, 45, 99, 98)
min_=Input[0]
max_=Input[0]
for i in Input:
    if i>max_:
        max_=i
    elif i<min_:
        min_=i
print("Minimum-",min_)
print("Maximum-",max_)

Minimum- 4
Maximum- 99